body {
  font-family: "open sans";
  margin: 0;
  padding: 0;
  background-color: #ed2cc3;
}

.container {
  background-color: grey;
  width: 500px;
  margin: 150px auto;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  background-color: #10fd57;
}

.gameText {
  color: #001e1d;
}

.gameButton {
  margin: 0 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #1bc8ef;
  color: #001e1d;
  font-size: 20px;
}